.idea/
__pycache__/
strategy/models/__pycache__/
strategy/forms/__pycache__/
strategy/views/__pycache__/
start.sh
startAWS.sh
.env
/media
*.log
*.pot
*.pyc
db.sqlite3
media
.start.sh.swp
databasesql
taskProgTets.py
worker/loadImg.sh
