<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if object %}
        <form role="form" action="{% url 'edit-test-plan' strategy_id object.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %} {% else %}
            <form role="form" action="{% url 'create-test-plan' strategy_id %}" method="post" enctype="multipart/form-data">{% csrf_token %} {% endif %}
                <div class="modal-header">
                    <h3 class="close align-content-center">Formulario de plan de prueba</h3>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal">
                <i class="ion-ios-close"></i></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="fieldWrapper">
                                {{ form.description.errors }}
                                {{ form.description.label_tag }}
                                {{ form.description }}
                            </div>
                            <div class="fieldWrapper">
                                {{ form.iterations.errors }}
                                {{ form.iterations.label_tag }}
                                {{ form.iterations }}
                            </div>
                            {% if application.type.name == 'Mobile' %}
                            <div class="fieldWrapper form-control mt-2">
                                {{ form.mobile_so.errors }}
                                {{ form.mobile_so.label_tag }}
                                {{ form.mobile_so }}
                            </div>
                            {% else %}
                            <div class="fieldWrapper form-control mt-2">
                                {{ form.browser.errors }}
                                {{ form.browser.label_tag }}
                                {{ form.browser }}
                            </div>
                            {% endif %}
                            <div class="fieldWrapper form-control mt-2">
                                {{ form.scripts.errors }}
                                {{ form.scripts.label_tag }}
                                {{ form.scripts }}
                            </div>
                            <div class="fieldWrapper form-control mt-2">
                                {{ form.execute_immediately.errors }}
                                {{ form.execute_immediately.label_tag }}
                                {{ form.execute_immediately }}
                            </div>
                            <div id="div_execution_id" class="fieldWrapper">
                                {{ form.execution_date.errors }}
                                {{ form.execution_date.label_tag }}
                                {{ form.execution_date }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer btn-toolbar">
                        <button type="submit" id="id_grabar" class="btn-b btn-bf pull-right">
                    <i class="ion-ios-save icon-small icon-normal"></i>Guardar
                </button>
                        <button type="submit" class="btn-b btn-bg pull-right" data-dismiss="modal" style="margin-left: 5px">
                    <i class="ion-ios-power icon-small icon-normal"></i>Cancelar
                </button>
                    </div>
                </div>
            </form>
    </div>
</div>
<script>
    //hide field by default
$('#div_execution_id').hide();

//show it when the checkbox is clicked
$('input[name="execute_immediately"]').on('click', function(){
if ( $(this).prop('checked') ) {
     $('#div_execution_id').hide();
}
else {
   $('#div_execution_id').fadeIn();
}
});

</script>