<script >
  $("#id_app").change(function () {
      var url = $("#vrtForm").attr("data-scripts-url");
      var app = $(this).val();
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'app': app
        },
            success: function (data) {
            $("#id_script").html(data);
        }});

    });

  $("#id_script").change(function () {
      var url = $("#vrtForm").attr("data-execs-url");
      var script = $(this).find('select').val()
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'script': script
        },
            success: function (data) {
            $("#id_exec1").html(data);
            $("#id_exec2").html(data);
        }});

    });

  $("#id_exec1").change(function () {
      var url = $("#vrtForm").attr("data-steps-url");
      var exec = $(this).find('select').val()
      console.log('Este ees eke esj: ' + exec)
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'exec': exec
        },
            success: function (data) {
            $("#id_step").html(data);
        }});

    });

  $("#id_exec2").change(function () {
      var url = $("#vrtForm").attr("data-steps2-url");
      var exec = $(this).find('select').val();
      console.log('Este ees eke esj: ' + exec)
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'exec2': exec
        },
            success: function (data) {
            $("#id_step2").html(data);
        }});

    });

  $("#id_step").change(function () {
      var url = $("#vrtForm").attr("data-imgs-url");
      var step_list = $(this).find('select').val();
      console.log(step_list);
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'steps_list': JSON.stringify(step_list)
        },
            success: function (data) {
            $("#id_load_imgs1").html(data);
        }});

    });

  $("#id_step2").change(function () {
      var url = $("#vrtForm").attr("data-imgs2-url");
      var step_list = $(this).find('select').val();
      console.log(step_list);
       $.ajax(
       {
           async: true,
           url: url,
           type: 'GET',
           data: {
          'steps_list2': JSON.stringify(step_list)
        },
            success: function (data) {
            $("#id_load_imgs2").html(data);
        }});

    });



  $("#id_imgs_container").change(function () {
      var url = $("#vrtForm").attr("data-diff-url");
      var step_list1 = $("#id_step").find('select').val();
      var step_list2 = $("#id_step2").find('select').val();
      if(step_list1.length == step_list2.length){
          console.log(step_list1);
          console.log(step_list2);
          $.ajax(
           {
               async: true,
               url: url,
               type: 'GET',
               data: {
                'steps_list1': JSON.stringify(step_list1),
                'steps_list2': JSON.stringify(step_list2),
            },
                success: function (data) {
                $("#id_load_diff").html(data);
            }});
      }

    });


  function compare(diff) {
      var url = $("#vrtForm").attr("compare-action");
      $.ajax(
           {
               async: true,
               url: url,
               type: 'GET',
               data: {
                'diffs': JSON.stringify(diff)
            }});
      }





</script>