{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{application.name}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row ">
      <div class="card w-100 ">
            <div class="card-body">
              <div class="col-md-12 mx-auto">
                <div class="row mb-3">
                   <div class="col-md-6">
                    <h4 class="card-title">Nombre: {{application.name}} </h4>
                        <h6><b>Creada el</b> {{application.create_at}}</h6>
                       <h6><b>Descripción:</b></h6>
                        <p class="text-justify">{{ application.description }}</p>
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title"><b>Tipo:</b> {{application.type}} </h4>
                      <h6><b>Aquitectura: </b></h6>
                      <p class="text-justify">{{application.architecture}}</p>
                      <h6><b>Stack Tecnológico: </b></h6>
                      <p class="text-justify">{{application.developer_stack}}</p>
                  </div>
                </div>
                </div>
              <div class="col-md-12 mx-auto">
                <div class="row mb-3">
                   <div class="col-md-12">
                    <h6 class="w-100"><b>Opciones: </b></h6>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-3 ">
                              <div class="w-100 mb-2">
                                  <a class="btnn btn-full" id="id_application" href="#"  onclick="return abrir_modal('{% url 'create-application-version' application.id %}')" ><i class="ion-ios-add-circle icon-small icon-normal"></i>Agregar Versión</a>
                              </div>
                          </div>
                           <div class="col-md-3 ">
                                <div class="w-100 mb-2">
                                  <a class="btnn btn-ghost" id="id_application"  href="#"  onclick="return abrir_modal('{% url 'edit-application' application.id %}')" ><i class="ion-ios-filing icon-small icon-normal"></i>Editar Aplicación</a>
                              </div>
                          </div>
                           <div class="col-md-3 ">
                              <div class="w-100 mb-2">
                                  <a class="btnn btnn-dlt" id="id_application" href="#"  onclick="return abrir_modal('{% url 'delete-application' application.id %}')" ><i class="ion-ios-trash icon-small icon-dlt"></i>Borrar Aplicación</a>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
      {% if versions %}
            <h5 class="text-center mt-3 mb-3">Versiones registradas de la aplicación</h5>
            <div class="row text-center">
              <table class="col-md-20 w-100 entradas table table-striped table-bordered">
                <thead class="text-center">
                  <th>Versión</th>
                  <th class="w-25">Repositorio</th>
                  <th>Regitrada el</th>
                  <th>Opciones</th>
                </thead>
                <tbody>
                  {% for version_app in versions|dictsort:"create_at" reversed %}
                  <tr>
                    <td>{{ version_app.version }}</td>
                    <td class="w-25">{{ version_app.url_repository }}</td>
                    <td>{{ version_app.create_at|date:'Y-m-d H:i' }}</td>
                    <td>
                        <a class="btnn btn-full" id="id_application"  href="#"  onclick="return abrir_modal('{% url 'edit-application-version' application.id version_app.id %}')" ><i class="ion-ios-filing icon-small icon-normal"></i>Editar</a>
                        <a class="btnn btnn-dlt" id="id_application" href="#"  onclick="return abrir_modal('{% url 'delete-application-version' application.id version_app.id %}')" ><i class="ion-ios-trash icon-small icon-dlt"></i>Borrar</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
           {% endif %}
        </div>
</main>
    <div id="popup" class="modal fade" role="dialog">
    </div>
<script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
    }
</script>
{% endblock %}
