{% extends 'core/base.html' %}
{% load static %}
{% block title %}Ejecuciones{% endblock %}
{% block content %}
<main role="main">
<!-- Menu de filtros -->
    <div class="col-md-11 card container mt-2 ">
      <div class="card-body">
        <h3 class="card-title">Filtros</h3>
        <form class="searchForm" action="{% url 'execution-list' %}" method="GET">
        <div class="row">
            <div class="col-md-4">
                <label class="text-left w-100" for="apps">Aplicaciones:</label>
                <select class="appsSelect w-100" name="apps" multiple="multiple">
                  {% for app in apps %}
                  <option value="{{app.id}}" {% if app.id|stringformat:'i' in searchParams.apps %} selected {% endif %}>{{app.name}}</option>
                  {% endfor %}
                </select>
              </div>
                <div class="col-md-4">
                <label class="text-left w-100" for="plans">Planes de pruebas:</label>
                <select class="plansSelect w-100" name="plans" multiple="multiple">
                  {% for plan in plans %}
                  <option value="{{plan.id}}" {% if plan.id|stringformat:'i' in searchParams.plans %} selected {% endif %}>{{plan.description}}</option>
                  {% endfor %}
                </select>
              </div>

            <div class="col-md-3">
                <label class="text-left w-100" for="types">Tipos:</label>
                <select class="typesSelect w-100" name="types" multiple="multiple">
                  {% for type in types %}
                  <option value="{{type.id}}" {% if type.id|stringformat:'i' in searchParams.types %} selected {% endif %}>{{type.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-left w-100" for="scripts">Scripts de pruebas:</label>
                    <select class="scriptsSelect w-100" name="scripts" multiple="multiple">
                      {% for script in scripts %}
                      <option value="{{script.id}}" {% if script.id|stringformat:'i' in searchParams.scripts %} selected {% endif %}>{{script.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="col-md-4">
                    <label class="text-left w-100" for="status">Estado:</label>
                    <select class="statusSelect w-100" name="status" multiple="multiple">
                      {% for state in status %}
                      <option value="{{state.0}}" {% if state.0|stringformat:'i' in searchParams.status %} selected {% endif %}>{{state.1}}</option>
                      {% endfor %}
                    </select>
                  </div>
            </div>
          <input type="submit" class="btn btn-primary btn-block w-25 mt-3" value="Buscar">
        </form>
      </div>
    </div>
    {% if executions %}
    <h5 class="text-center mt-3 mb-3">Ejecuciones de pruebas</h5>
    <div class="row text-center bg-table">
      <table class="col-md-30 w-100 entradas table table-striped table-bordered">
        <thead class="text-center">
          <th>Aplicación</th>
          <th>Plan</th>
          <th>Tipo</th>
          <th>Navegador / Móvil</th>
          <th>Script</th>
          <th>Iteración</th>
          <th>Ejecutar el</th>
          <th>Ejecutada el</th>
          <th>Reporte</th>
          <th>Estado / Opciones</th>
        </thead>
        <tbody>
          {% for test in executions|dictsort:"create_at" reversed %}
          <tr>
            <td>
                <div class="w-100">
                    {{ test.script.application }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ test.test_plan }}
                </div>
            </td>
          <td>
                <div class="w-100">
                    {{ test.script.application.type }}
                </div>
            </td>
          {% if test.script.application.is_mobile %}
                <td>
                    <div class="w-100">
                        {{ test.mobile_so }}
                    </div>
                </td>
            {% else %}
                <td>
                    <div class="w-100">
                        {{ test.browser }}
                    </div>
                </td>
            {% endif %}
          <td>
                <div class="w-100">
                    {{ test.script }}
                </div>
            </td>
          <td>
                <div class="w-100">
                    {{ test.iteration }}/{{ test.test_plan.iterations }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ test.execution_date|date:'Y-m-d H:i' }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {% if test.executed_date %}
                        {{ test.executed_date|date:'Y-m-d H:i' }}
                    {% else %}
                        - - - -
                    {% endif %}
                </div>
            </td>
          <td>
                <div class="w-100">
                    {% if  test.report_file %}
                        <a class="btnn btn-full w-40" href="{{ test.get_absolute_report_url}}" download><i class="ion-ios-cloud-download icon-small"></i></a>
                        <a class="btnn btnn-dlt w-40" href="{{ test.get_absolute_report_url}}" target="_blank" style="target-new: tab;" ><i class="ion-ios-eye icon-small"></i></a>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="w-100">
                    <div class="w-100 mt-1">
                        {% if test.status == 'P' %}
                        <span class="span_form s_reg">{{ test.get_status_display }}</span>
                        {% elif test.status == 'E' %}
                            <span class="span_form s_pro">{{ test.get_status_display }}</span>
                        {% elif test.status == 'S' %}
                            <span class="span_form s_eje">{{ test.get_status_display }}</span>
                        {% elif test.status == 'F' %}
                            <span class="span_form s_fail">{{ test.get_status_display }}</span>
                        {% endif %}
                    </div>
                <div class="w-100 mt-2">
                    {% if test.status == 'S' or test.status == 'F' or test.status == 'P' %}
                        <a class="btnn btn-full" id="id_execution"  href="{% url 're-execution' test.id %}" ><i class="ion-ios-play icon-small icon-normal"></i>Reintentar</a>
                    {% endif %}
                </div>
                </div>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
   {% else %}
        <h4 class="text-center mt-3">¡No hay ejecuciones programadas!</h4>
   {% endif %}
</main>
{% endblock %}
