{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{strategy.name}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row ">
      <div class="card w-100 ">
            <div class="card-body">
              <div class="col-md-12 mx-auto">
                <div class="row mb-3">
                   <div class="col-md-6">
                    <h4 class="card-title"><b>Nombre:</b> {{strategy.name}} </h4>
                        <h6><b>Creada el</b> {{strategy.create_at}}</h6>
                        <h6><b>Aplicación/Versión: </b> {{ strategy.application_version }}</h6>
                  </div>
                  <div class="col-md-6">
                      <h4 class="w-100"><b>Nivel de pruebas: </b>{{ strategy.get_test_level_display }}</h4>
                      <h6><b>Objetivo: </b></h6>
                      <p class="text-justify">{{strategy.objective}}</p>
                  </div>
                </div>
                </div>
              <div class="col-md-12 mx-auto">
                <div class="row mb-3">
                   <div class="col-md-12">
                    <h6 class="w-100"><b>Opciones: </b></h6>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-3 ">
                              <div class="w-100 mb-2">
                                  <a class="btnn btn-full" id="id_test_strategy" href="#" onclick="return abrir_modal('{% url 'create-test-plan' strategy.id %}')" ><i class="ion-ios-add-circle icon-small icon-normal"></i>Agregar Prueba</a>
                              </div>
                          </div>
                           <div class="col-md-3 ">
                                <div class="w-100 mb-2">
                                  <a class="btnn btn-ghost" id="id_test_strategy"  href="#"  onclick="return abrir_modal('{% url 'edit-test-strategy' strategy.id %}')" ><i class="ion-ios-filing icon-small icon-normal"></i>Editar Estrategia</a>
                              </div>
                          </div>
                           <div class="col-md-3 ">
                              <div class="w-100 mb-2">
                                  <a class="btnn btnn-dlt" id="id_test_strategy" href="#"  onclick="return abrir_modal('{% url 'delete-test-strategy' strategy.id %}')" ><i class="ion-ios-trash icon-small icon-dlt"></i>Borrar Estrategia</a>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
    {% if plans %}
    <h5 class="text-center mt-3 mb-3">Versiones registradas de la aplicación</h5>
    <div class="row text-center bg-table">
      <table class="col-md-30 w-100 entradas table table-striped table-bordered">
        <thead class="text-center">
          <th>Descripción</th>
          <th>Estrategia</th>
          <th>Técnica</th>
          {% if strategy.application.is_mobile %}
              <th>Mobile S.O.</th>
          {% else %}
            <th>Navegador</th>
          {% endif %}
          <th>Script</th>
          <th>Ejecutar el</th>
          <th>Creado el</th>
          <th>Iteraciones</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          {% for plan in plans|dictsort:"create_at" reversed %}
          <tr>
            <td>
                <div class="w-100">
                    {{ plan.description }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ plan.test_strategy }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ plan.technique_test }}
                </div>
            </td>
            {% if strategy.application.is_mobile %}
                <td>
                    <div class="w-100">
                        {{ plan.mobile_so }}
                    </div>
                </td>
            {% else %}
                <td>
                    <div class="w-100">
                        {{ plan.browser }}
                    </div>
                </td>
            {% endif %}
            <td>
                <div class="w-100">
                    {{ plan.script_name}}
                </div>
                <div class="w-100 mt-1">
                    <a class="btnn btn-full" href="{{ plan.get_absolute_script_url}}" download><i class="ion-ios-cloud-download icon-small"></i>Descargar</a>
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ plan.execution_date|date:'Y-m-d H:i' }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ plan.create_at|date:'Y-m-d H:i' }}
                </div>
            </td>
            <td>
                <div class="w-100">
                    {{ plan.iterations }}
                    <div class="w-100 mt-1">
                        {% if plan.status == 'R' %}
                        <span class="span_form s_reg">{{ plan.get_status_display }}</span>
                        {% elif plan.status == 'P' %}
                            <span class="span_form s_pro">{{ plan.get_status_display }}</span>
                        {% elif plan.status == 'E' %}
                            <span class="span_form s_eje">{{ plan.get_status_display }}</span>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td>
                <div class="w-100 mb-1">
                    <a class="btnn btn-full" id="id_test_strategy"  href="#"  onclick="return abrir_modal('{% url 'edit-test-plan' strategy.id plan.id %}')" ><i class="ion-ios-filing icon-small icon-normal"></i>Editar</a>
                </div>
                <div class="w-100">
                    <a class="btnn btnn-dlt" id="id_test_strategy" href="#"  onclick="return abrir_modal('{% url 'delete-test-plan' strategy.id plan.id %}')" ><i class="ion-ios-trash icon-small icon-dlt"></i>Borrar</a>
                </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
   {% endif %}
</main>
    <div id="popup" class="modal fade" role="dialog">
</div>
<script>
function abrir_modal(url)
{
    $('#popup').load(url, function()
{
    $(this).modal('show');
});
    return false;
}
</script>
{% endblock %}
